.headings{
    background-color: aquamarine;
    color: black;
    text-decoration:none;
    width:200px;
    height:100%;
    position:fixed;
    padding-top:20px;
    padding-left: 0cm;

}
ul{
    list-style:none;
    padding-left: 20px;

}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:15px 20px;

}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: solid;
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;

}
.rounded-image{
    width:200px;
    height: 3cm;
    border-radius: 4cm;
    overflow-y: none;
}